[submodule "bsp"]
	path = bsp
	url = https://github.com/azonenberg/antikernel-bsps
[submodule "rtl/antikernel-ipcores"]
	path = rtl/antikernel-ipcores
	url = git@github.com:azonenberg/antikernel-ipcores
